<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="/css/paymentstyle.css">
</head>
<body>
    <h1 class="page-title">Payment Page</h1>
    <div class="container">
        <form id="paymentForm" action="/ticket/<%= id %>/process_payment" method="post" style="padding: 20px;">
            <h2 class="purchase-summary">Purchase Summary:</h2>
            <% selectedSeats.forEach(function(seat) { %>
                <input type="hidden" name="selectedSeats" value='<%= seat %>'>
            <% }); %>
            <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
            <p class="purchase-detail">Movie Title: <%= selectedTitle %></p>
            <p class="purchase-detail">Selected Seats: <%= selectedSeats %></p>
            <p class="purchase-detail">Selected Date: <%= selectedDate %></p>
            <p class="purchase-detail">Selected Time: <%= selectedTime %></p>
            <p class="purchase-detail">Price per ticket: $<%= moviePrice %></p>
            <p class="purchase-detail">Total Price: $<span id="totalPrice"><%= totalPrice %></span></p>            
            <label for="voucherCode">Voucher Code (optional):</label>
            <input type="text" id="voucherCode" name="voucherCode">
            <button type="submit" id="processPaymentButton">Process Payment</button>
        </form>
    </div>

</body>
</html>
