<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>Food and Beverages</title>
</head>
<body>
    <header>
        <a href="/" class="exitButton">&times; </a>
        <h1>Movie Theater Food and Beverages</h1>
        <a href="cart" class="cart-icon">&times;</a>
    </header>

    <div class="menu-container">
        <section class="food">
            <h2>Food</h2>
            <div class="menu-items">
                <% foodProducts.forEach(product => { %> 
                    <div class="menu-item">
                        <img src="<%= product.img %>" alt="<%= product.title %>">
                        <h6><%= product.title %></h6>
                        <p>Description: <%= product.desc %></p>
                        <p>Price: $<%= product.price %></p>
                        <form action="/shop/<%=product._id%>/add_to_cart" method="post">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <input type="submit" value="Add to Cart">
                        </form>
                    </div>
                <% }); %>
            </div>
        </section>

        <section class="beverage">
            <h2>Beverages</h2>
            <div class="menu-items">
                <% beverageProducts.forEach(product => { %> 
                    <div class="menu-item">
                        <img src="<%= product.img %>" alt="<%= product.title %>">
                        <h6><%= product.title %></h6>
                        <p>Description: <%= product.desc %></p>
                        <p>Price: $<%= product.price %></p>
                        <form action="/shop/<%=product._id%>/add_to_cart" method="post">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <input type="submit" value="Add to Cart">
                        </form>
                    </div>
                <% }); %>
            </div>
        </section>
    </div>

    <div id="cart-dropdown" class="cart-dropdown">
        <h2>Shopping Cart</h2>
        <ul id="cart-items"></ul>
        <p>Total: $<span id="cart-total">0.00</span></p>
    </div>
    
    <script src="script.js"></script>
    <script>
        // JavaScript function to add items to the cart
        function addToCart(title, price) {
            var cartItems = document.getElementById("cart-items");
            var cartTotal = document.getElementById("cart-total");
            var item = document.createElement("li");
            item.textContent = title + " - $" + price.toFixed(2);
            cartItems.appendChild(item);
            var currentTotal = parseFloat(cartTotal.textContent);
            cartTotal.textContent = (currentTotal + price).toFixed(2);
        }
    </script>
</body>
</html>
